<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=aniklogu;AccountKey=SeLCYE8dXWhnKUKihoW0sof8NK8GsvYxWxbMcNKjmihGO1S0ijqaIFajwu44pWMZctViekkt1Y0zGFf/plNCRQ==;EndpointSuffix=core.windows.net" />
  </appSettings>
</configuration>